{% extends '../../core/base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Solicitação de Impressão
            <small>Sistema de impressão do IFPB Campus Cajazeiras</small>
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-print"></i> Requisição de Impressão</li>
            <li class="active">Detalhes do Usuário</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
            <!-- Default box -->
            <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Detalhes do Usuário</h3>
            </div>
            <div class="user-datails">
                <div class="media">
                  <div class="media-left">
                      <img class="media-object user-image img-circle" src="{% static 'dist/img/user2-160x160.jpg' %}" alt="Profile User">
                  </div>
                  <div class="media-body">
                    <h2 class="media-heading">{{object.first_name}} {{object.last_name}}</h2>
                    <h4>Matrícula: {{ object.registration }}</h4>
                  </div>
                </div>
            </div>
            <div>
            <div class="impressoes-user">
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#andamento" role="tab" data-toggle="tab">Aguardando Impressão</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#retirada" role="tab" data-toggle="tab">Aguardando Retirada</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#finalizadas" role="tab" data-toggle="tab">Concluídos</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="andamento">
                            {% if files_print|length > 0 %}
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Nome do Documento</th>
                                  <th scope="col">Data da Solicitação</th>
                                  <th scope="col">Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for file in files_print %}
                                <tr>
                                  <th scope="row">{{ forloop.counter }}</th>
                                  <td><a href="{% url 'ctrl_p:view-file' file.pk %}">{{ file.name }}</a></td>
                                  <td>{{ file.uploaded|date:"d/m/Y" }} às {{ file.uploaded|time }}</td>
                                  <td><span class="label label-danger">Aguardando Impressão</span></td>
                                </tr>
                                {%endfor%}
                              </tbody>
                            </table>                            
                            {% else %}
                        <div class="not-found">
                            <h3>Nenhum arquivo aguardando impressão</h3>
                        </div>
                        {% endif %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="retirada">
                        {% if files_waiting|length > 0 %}
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nome do Documento</th>
                              <th scope="col">Data da Solicitação</th>
                              <th scope="col">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for file in files_waiting %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td><a href="{% url 'ctrl_p:view-file' file.pk %}">{{ file.name }}</a></td>
                              <td>{{ file.uploaded|date:"d/m/Y" }} às {{ file.uploaded|time }}</td>
                              <td><span class="label label-warning">Aguardando Retirada</span></td>
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table>                            
                        {% else %}
                        <div class="not-found">
                            <h3>Nenhum arquivo aguardando retirada</h3>
                        </div>
                        {% endif %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="finalizadas">
                        {% if files_complete|length > 0 %}
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nome do Documento</th>
                              <th scope="col">Data da Solicitação</th>
                              <th scope="col">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for file in files_complete %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td><a href="{% url 'ctrl_p:view-file' file.pk %}">{{ file.name }}</a></td>
                              <td>{{ file.uploaded|date:"d/m/Y" }} às {{ file.uploaded|time }}</td>
                              <td><span class="label label-success">Concluído</span></td>
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table>                            
                        {% else %}
                        <div class="not-found">
                            <h3>Nenhum arquivo impresso com êxito</h3>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>

            </div>
            <!-- /.box-body -->
            <!-- /.box-footer-->
            <!-- /.box -->
        
        </section>
        <!-- /.content -->
{% endblock %}